div.css-1r6slb0.esravye1 {
    background-color:#eb9090;
}

div.css-5rimss.eqr7zpz4{
        background-color:#58e84b;  
    }

    div.css-5rimss.eqr7zpz4:hover{
        background-color:#29982b; 
         
    }

