div.css-1r6slb0.esravye1 {
    background-color:#eb9090;
}

div.css-5rimss.eqr7zpz4{
        background-color:#fefefe;  
    }

div.css-5rimss.eqr7zpz4:hover{
    background-color:#b8ffb9; 
        
}

div.css-16idsys.eqr7zpz4 {
    font-size: 50px;
}

